
/*generic style*/
*{
	box-sizing: border-box;
	margin: 0;
    padding: 0;
}

body{
  font-size: 1rem;
  color: #222222;
  background-color: white;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

img{
	width: 48px;
	height: 48px;
}

nav{
	margin: 0;
	padding:28px 0 0 0;
	max-width: 980px;
	margin-left: auto;
	margin-right: auto;
}

ul{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}
li{
	display: inline-flex;
	margin: 0 16px 0 16px;
	font-weight: 700;
	
}

li:first-child {
	flex-grow: 1;
}

a{
	text-decoration: none;
	color:#222222;

}

a:hover{
	opacity: 0.8;
}

article{
	margin: 50px 0 0 0;
	height: 800px;
	max-width: 980px;
	background-color: black;
	margin-left: auto;
	margin-right: auto;
}

p{
	font-size: 1.8rem;
	text-align: left;
	padding: 88px 16px 0 16px;
	margin-left: auto;
	margin-right: auto;
	max-width: 980px;
	font-weight: 400;
}