/*generic style*/
*{
    font-size:1rem;
    color: #222222;
    font-family: 'Open Sans', Times,courier, sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

body{
    width: 100%;
    position: relative;
  }

a{
    cursor:url(cursor-image.png), auto;
}

button{
    cursor:url(cursor-image.png), auto;
}

label{
    cursor:url(cursor-image.png), auto;
}

ul{
    list-style-type: none;
  }

section{
    width:100%;
}

.large-text{
    font-size: 1.6rem;
    line-height:2.4rem;
}
/*main-content-general*/
.center{
    max-width: 1024px;
    margin: 48px auto 32px auto;
    text-align: center;
}

/*tabs*/
.tab-container{
    clear: both;

}

.tabs{
    list-style-type:none;
    position: relative;
}

.tabs li{
    float: left;
}

.tabs label{
    color: #a7a7a7;
    font-weight: 700;
    padding-right:48px;
}

.tabs label:hover{
    color:#FEBE0D;
}

.tabs li>input{
    display:none;
}
.tabs .tab-content{
    display:none;
    position: absolute;
    left: 0;
}

/*tabs function*/
.tabs li>input:checked + label{
    color: #000;
}

.tabs li>input:checked ~ .tab-content{
    display:block;
}

/*intro style*/
h1{
    font-size: 3.2rem;
    font-weight: 700;
}

#home-intro{
    margin-top:100px;
}

#home-intro p {
    margin-top:8px;
}
.emoji-container{
    font-size:3rem;
    padding-left:12px;
}

/*general style home section*/

.home-section{
margin-top:40px;
margin-bottom:80px;
}

h2{
     font-size: 0.9rem;
     font-weight: 700;
     margin:24px 0 24px 0;
     color:#979797;
}

/*about-section*/
h3{
    font-size:1rem;
    font-weight: 700;
}
#about p{
    margin-bottom:32px;
    line-height: 1.4rem;
}

h4{
    font-weight:700;
}

#about-experience{
    width: 50%;
    display: inline-block;
    padding-right: 20%;
    min-width: 320px;
}
#about-education{
    width:26%;
    display:inline-block;
    min-width:210px;
    vertical-align:top;
}

#about button{
    display:block;
    border: none;
    color: white;
    background-color: #222;
    padding: 7px 13px 8px 13px;
    font-size: 0.9rem;
    border-radius: 2px;
}

#about button:hover{
    background-color:#979797;
    transition-duration: 0,6s;
}

.gradient{

}

/*work-section*/
#work h2{
    visibility: hidden;
}

/*contact-section*/
#contact a{ 
    text-decoration: none;
}

/*footer-style*/
/*footer-generic-style*/
footer{
    width: 100%;
    margin-top:64px;
    position: absolute;
    bottom: 0;
    height: auto;
    background-color: #000;
}


footer p{
    color: white;
    font-size: 0.9rem;
    line-height: 1.7rem;
}

footer a{
    font-size: 0.9rem;
    color:white;
    text-decoration: none;
    margin-right:40px;
    line-height: 1.7rem;
}

footer span{
    margin: 0 5px 0 5px;
    font-size:0.8rem;
}

footer button{
    background: none;
	color: inherit;
	border: none;
	font: inherit;
    outline: inherit;
    color:#FEBE0D;
    font-size:0.9rem;
    display: inline;
}

/*footer-flex-layout-style*/
.center-container{
    max-width: 1024px;
    margin:0 auto 0 auto;
    padding: 0 2% 0 2%;
    position: relative;
    display:flex;
    flex-wrap: wrap;
}

.half-container{
    width:47%;
    vertical-align: top;
    margin:48px 4% 0 0;
    min-width: 288px;
}

.half-right{
    margin-right:0px;
}

.blur{
    opacity: 0.6;
}


